<h2>Viewing Deck "<%= @deck.name.capitalize %>"</h2>

<a href="/decks/<%= @deck.id %>/edit">Edit Deck</a><br />
<a href="/decks/<%= @deck.id %>/cards/new">Create a New Card</a><br />
<a href="/play/decks/<%= @deck.id %>">Play The Deck!</a><br /><br />

<table>
  <tr>
    <th>Front</th>
    <th>Back</th>
  </tr>
  <% @deck.cards.each do |card| %>
    <tr>
      <td><%= card.front.capitalize %></td>
      <td><%= card.back.capitalize %></td>
    </tr>
  <% end %>
</table>

